$colorA: #2D4B73;
$colorB: #253C59;
$colorC: #99B4BF;
$colorE: #D9B70D;
$colorD: #BF8D30;
$xs: 360px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$na: 1.618;

@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
$domine: 'Domine', serif;


@function calcular-ancho-contenedor($ancho) {
    $proporcion-aurea: $na; // Valor de la proporción áurea
    $ancho-contenedor: calc($ancho / $proporcion-aurea);
    @return $ancho;
}